#o-nas, #news, #oferta, #galeria, #scena, #kontakt {
  margin: 150px 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1300px;
  /* max-width: 90%; */
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  position: relative;
}

.clear {
  clear: both;
}

img {
  width: 100%;
}

h2 {
  font-size: 40px;
  font-weight: 400;
  color: #383838;
  text-transform: uppercase;
}

p {
  color: #383838;
  letter-spacing: 0.4px;
}

.section-caption {
  color: #383838;
  font-weight: 300i;
  font-style: italic;
  display: block;
  padding: 25px 0 50px;
}

.section-title {
  margin-left: 200px;
  width: 100%;
}

.title-line {
  display: block;
  border-top: 8px solid #ffbc00;
  color: #ffbc00;
  margin-top: 15px;
  width: 50px;
}

.hidden {
  display: none;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#menuicon span {
  display: none;
}

nav li {
  display: inline-block;
  margin-left: 30px;
  text-transform: unset;
  padding: unset;
}

nav a {
  color: #383838;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
}

nav a:hover {
  color: #ffbc00;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.logo img {
  width: 100%;
}

#banner {
  margin: unset;
}

#banner h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 50px;
}

#banner .background-image {
  margin: 25px 0 0;
}

#banner .banner-content {
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 150px;
  right: 0;
  color: white;
  text-align: center;
}

#banner .contact {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  color: #ffbc00;
  font-size: 23px;
}

.white-line {
  height: 1px;
  width: 100%;
  color: white;
}

section {
  margin: 100px 0;
}

#o-nas .about-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0px 0 100px;
}

#o-nas .about-text p {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.about-gallery {
  overflow: hidden;
}

.images {
  position: fixed;
  margin: 85px 0;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

.images .image {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
}

.images .image img {
  width: 100%;
  height: auto;
}

.offer-button:hover {
  height: 180px;
  -webkit-transition: height 0.15s ease-out;
  transition: height 0.15s ease-out;
}

.offer-button {
  height: 48px;
  -webkit-transition: height 0.15s ease-out;
  transition: height 0.15s ease-out;
  position: absolute;
  width: 90%;
  bottom: 0;
  right: 0;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  background-color: rgba(255, 188, 0, 0.9);
}

.offer-button a {
  color: white;
  text-align: right;
  display: block;
}

.offer-button h3 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.offer-button span {
  border-top: 1px solid white;
  color: white;
  padding-top: 3px;
  padding: 10px;
}

.offer {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 78%;
  margin: 0 auto;
}

.offer1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47%;
          flex: 0 0 47%;
  position: relative;
  margin-bottom: 50px;
  display: block;
}

.jumbo {
  border-top: 1px solid #ffbc00;
  border-bottom: 1px solid #ffbc00;
  width: 80%;
  margin: 100px auto;
  padding: 50px 0;
  color: #9a9a9a;
  text-align: center;
}

.jumbo .flexbox {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jumbo h3 {
  color: #ffbc00;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 30px;
}

.jumbo p {
  padding: 25px 0 10px;
  font-weight: 300;
  font-size: 22px;
  width: 100%;
}

.jumbo span {
  text-transform: uppercase;
  color: #9a9a9a;
  font-weight: 500;
  font-size: 25px;
}

.main-article {
  width: 100%;
  position: absolute;
  bottom: -85px;
  background-color: rgba(255, 188, 0, 0.9);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-article h3 {
  text-transform: uppercase;
  color: white;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

.main-article p {
  color: white;
  font-size: 16px;
  padding-top: 20px;
  border-top: 1px white solid;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.main-article a {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 5px;
}

.slider {
  margin-top: 125px;
  height: 350px;
}

.slick-slide {
  width: 500px;
}

div.slick-list.draggable {
  height: 100%;
}

.article {
  width: 350px;
  margin: 0 20px;
  position: relative;
}

.article .article-content {
  background-color: rgba(255, 188, 0, 0.8);
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: auto;
  top: 188px;
  left: 0;
  right: 0;
  height: auto;
}

.article .article-content h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 16px;
}

.article .article-content p {
  padding: 15px 5px;
}

.article .article-content a {
  text-align: right;
  display: block;
}

footer {
  border-top: 1px solid #ffbc00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer a {
  margin: 10px 0;
  color: #ffbc00;
}

footer a:hover {
  text-decoration: underline;
}

form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  margin: 0 auto;
  padding-bottom: 50px;
}

form input::-webkit-input-placeholder {
  color: #ffbc00;
}

form input:-ms-input-placeholder {
  color: #ffbc00;
}

form input::-ms-input-placeholder {
  color: #ffbc00;
}

form input::placeholder {
  color: #ffbc00;
}

form input[type="text"], form input[type="email"], form input[type="textarea"] {
  background-color: #fff7ec;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px 0;
  border-bottom: 1px #ffbc00 solid;
  padding: 20px 20px;
  text-transform: uppercase;
  color: #ffbc00;
  font-weight: 300;
}

form input[type="submit"] {
  background: #ffbc00;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.5px;
}

.half {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}

.full {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media only screen and (max-width: 1360px) {
  .wrapper {
    width: 95%;
  }
}

@media only screen and (max-width: 950px) {
  .offer1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }
  .logo {
    width: 300px;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
  .menu {
    display: none;
  }
  .background-open {
    display: block;
  }
  .open {
    display: block;
    position: absolute;
    top: 115px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  nav {
    text-align: center;
    margin-top: 7px;
  }
  #menuicon {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    top: 29px;
    cursor: pointer;
  }
  #menuicon span {
    height: 4px;
    width: 100%;
    display: block;
    margin-bottom: 5px;
    background-color: #ffbc00;
  }
}

@media only screen and (max-width: 650px) {
  .offer1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media only screen and (max-width: 600px) {
  .slider {
    height: 366px;
  }
}

@media only screen and (max-width: 400px) {
  #menuicon {
    right: 50%;
    top: 100px;
  }
  #banner .background-image {
    margin: 55px 0;
  }
}
/*# sourceMappingURL=styles.css.map */